<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        {% block head %}

        {% endblock %}
        <style>
            div {
                border: 1px solid black;
                padding: 5px;
                margin-bottom: 15px;
            }
            div.row > div {
                display: inline-block;
            }
            div.row {
                border: 1px solid green;
            }
        </style>
    </head>
    <body>
        {% include 'core/block/header.html' %}

        {% block body %}
        {% endblock %}

        {% include 'core/block/footer.html' %}
    </body>
</html>