{% extends "core/base.html" %}
{% load count_objects %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock %}

{% block title %}
Main page
{% endblock %}

{% block body %}
    <div id="main_title_block" class="row hidden-md-down">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h1>Learn, share, build</h1>
            <p>Do a lot of other cool stuff, create bugs, be totally unable to fix them and cry about that here</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <a href="{% url 'question:question_list' %}">
                <h3>Questions:</h3>
            </a>
            <br>
            {% include 'question/block/question_list.html' with questions=questions %}
        </div>

        <div class="col-md-6 col-sm-12">
            <h3>Answers:</h3>
            <br>
            {% include 'question/block/answer_list.html' with answers=answers link_question=True %}
        </div>
    </div>
{% endblock %}