{% extends "core/base.html" %}
{% load count_objects %}

{% block title %}
Main page
{% endblock %}

{% block body %}
    <h1>Main page</h1>
    <div class="row">
        <div>
            <a href="{% url 'question:question_list' %}"><h3>Questions:</h3></a>
            {% include 'question/block/question_list.html' with questions=questions %}
        </div>

        <div>
            <h3>Answers:</h3>
            {% include 'question/block/answer_list.html' with answers=answers link_question=True %}
        </div>
    </div>
{% endblock %}