{% extends "core/base.html" %}

{% block title %}
    Please log in
{% endblock %}

{% block body %}
    {% if form.errors %}
        <p>Your login or password is incorrect. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    <br>
    <form method="post" action="{% url 'login' %}">
        <div class="form-group">
            {% csrf_token %}
            <label for="username">Username:</label>
            {{ form.username }}
            <label for="password">Password:</label>
            {{ form.password }}
            <br>
            <input type="submit" value="Log in" class="btn btn-primary" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
{% endblock %}