{% load linkto %}

<div class="card">
    <div class="card-block">
        {% if answer.author == user %}
                <a href="{% url 'question:edit_answer' pk=answer.id %}">edit</a>
        {% endif %}

        <p>Author: {% linkto answer.author %}</p>
        <p>In response to: {% linkto answer.question %}</p>

        {% if full_text %}
            {{ answer.text|linebreaks }}
        {% else %}
            {{ answer.text|linebreaks|truncatechars:1000 }}
        {% endif %}
    </div>
</div>