{% load linkto %}
{% load user_likes_this %}

<div class="card">
    <div class="card-block">
        {% if answer.author == user %}
                <a href="{% url 'question:edit_answer' pk=answer.id %}"><button class="btn btn-primary">Edit</button></a>
        {% endif %}

        {% if user.is_authenticated %}
            {% user_likes_this 'answer' user answer as does_like %}
            <button class="btn js-like-btn {% if does_like %}btn-warning {% else %}btn-success {% endif %}"
                    id="like_answer_{{ answer.id }}"
                    onclick="toggle_like('answer', '{{ answer.id }}');">
            {% if does_like %}Dislike {% else %}Like{% endif %}
            </button>
        {% endif %}

        <p>Author: {% linkto answer.author %}</p>
        <p>In response to: {% linkto answer.question %}</p>

        {% if full_text %}
            {{ answer.text|linebreaks }}
        {% else %}
            {{ answer.text|linebreaks|truncatechars:1000 }}
        {% endif %}
    </div>
</div>