{% load linkto %}
{% load martortags %}
{% load user_likes_this %}

<div class="card">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                {% linkto question class='nav-link' %}
            </li>
        </ul>
    </div>
    <div class="card-block">
        <p>Author: {% linkto question.author %}</p>
        <p>Category: {{ question.category.name }}</p>

        {% if question.author == user %}

            <a href="{% url 'question:edit_question' pk=question.id %}"><button class="btn btn-primary">Edit</button></a>
        {% endif %}

        {% if user.is_authenticated %}
            {% user_likes_this 'question' user question as does_like %}
            <button class="btn js-like-btn {% if does_like %}btn-warning {% else %}btn-success {% endif %}"
                    id="like_question_{{ question.id }}"
                    onclick="toggle_like('question', '{{ question.id }}');">
            {% if does_like %}Dislike {% else %}Like{% endif %}
            </button>
        {% endif %}



        {% if full_text %}
            {{ question.text|safe_markdown }}
        {% else %}
            {{ question.text|safe_markdown|truncatechars:1000 }}
        {% endif %}
    </div>
</div>