{% load linkto %}
{% load martortags %}

<div class="card">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                {% linkto question class='nav-link' %}
            </li>
        </ul>
    </div>
    <div class="card-block">
        <p>Author: {% linkto question.author %}</p>
        <p>Category: {{ question.category.name }}</p>

        {% if user.is_authenticated %}
            <button class="btn js-like-btn" id="like_question_{{ question.id }}" onclick="toggle_like('{{ question.id }}');">Like</button>
        {% endif %}

        {% if question.author == user %}
            <a href="{% url 'question:edit_question' pk=question.id %}">edit</a>
        {% endif %}

        {% if full_text %}
            {{ question.text|safe_markdown }}
        {% else %}
            {{ question.text|safe_markdown|truncatechars:1000 }}
        {% endif %}
    </div>
</div>