{% load linkto %}
<div>
    {% linkto answer.author %}:
    {% if full_text %}
        <p>{{ answer.text|linebreaks }}</p>
    {% else %}
        <p>{{ answer.text|truncatewords:10 }}</p>
    {% endif %}
    {% if link_question %}
        <p>
            In response to: {% linkto answer.question %}
        </p>
    {% endif %}
    <p>Number of likes: {{ answer.likes.count }}
    {% if user.is_authenticated %}
        <form action="{% url 'like:like_answer' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ answer.id }}" name="answer_id">
            <input type="submit" value="Like!">
        </form>
    {% endif %}

    {% if answer.author == user %}
        <a href="{% url 'answer:edit_answer' pk=answer.id %}">edit</a>
    {% endif %}
</div>