{% extends "core/base.html" %}
{% load martortags %}
{% load widget_tweaks %}

{% block body %}

    <h1 class="header-main">{{ question.title }}</h1>

    <div class="floating">
        <button class="btn btn-primary">
            Answer!
        </button>
    </div>

    <div class="card">
        <div class="card-block">
            {{ question.text | safe_markdown }}
        </div>
    </div>

    <h3 class="header-secondary">Answers</h3>
    {% for answer in question.answers.all %}
        {% include 'question/block/answer.html' with answer=answer full_text=True %}
    {% endfor %}
    <br>
    <h3 class="header-secondary">Answer this question</h3>
    <form method="POST" action="{% url 'question:create_answer' pk=question.id %}">
        <div class="form-group">
            {% csrf_token %}
            {{ answer_form.text|add_class:"form-control" }}
            {{ answer_form.question }}
            <br>
            <input type="submit" value="Answer" class="btn btn-primary">
        </div>
    </form>
{% endblock %}