{% extends "core/base.html" %}
{% load martortags %}

{% block body %}

    <h1 class="header-main">{{ question.title }}</h1>

    <div class="card">
        <div class="card-block">
            {{ question.text | safe_markdown }}
        </div>
    </div>

    <h3 class="header-secondary">Answers</h3>
    {% for answer in question.answers.all %}
        {% include 'question/block/answer.html' with answer=answer full_text=True %}
    {% endfor %}
    <hr>
    <form method="POST" action="{% url 'question:create_answer' pk=question.id %}">
        {% csrf_token %}
        {{ answer_form.as_p }}
        <input type="submit" value="Answer">
    </form>
{% endblock %}